#cards{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(13.1rem,13.1rem));
    column-gap: 2rem;
    row-gap: 2rem;
}
#shops{
    border: 1px solid black;
    width: 30%;
    height:40rem;
    overflow: scroll;
}